@charset "UTF-8";
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  align-items: center;
  width: 100vw;
  color: #cf3212;
  background-color: #e7f3fc;
  padding: 1.5rem;
  border-bottom: 5px solid #cf3212;
}
.navbar-container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-container ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: ocr-b-std;
  font-size: 1.5em;
  color: #cf3212;
  padding: 1rem;
}
.navbar-container ul a:hover {
  color: black;
  /*ÄNDRA*/
}

.header-container {
  width: 100vw;
  height: 100vh;
  color: #cf3212;
}
.header-container .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.header-container .header-content .logo-container {
  padding-bottom: 4rem;
}

.logo-img {
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.about-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 5px solid #cf3212;
  padding: 2rem;
  border-radius: 25px;
  margin-bottom: 1rem;
}
.about-container .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cf3212;
}
.about-container .about-content h2 {
  font-family: kepler-std, serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding-top: 1rem;
}
.about-container .about-content p {
  font-family: ocr-b-std;
  line-height: 1.5;
  padding-top: 2rem;
}
.about-container .about-content .icon {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.work-container {
  height: 100vh;
  width: auto;
  padding: 2rem;
  border: 5px solid #cf3212;
  color: #cf3212;
  border-radius: 25px;
  margin-bottom: 1rem;
}
.work-container h2 {
  font-family: kepler-std, serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding-top: 1rem;
}

.footer-container {
  min-height: 30vh;
  border-top: 5px solid #cf3212;
}
.footer-container .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  color: #cf3212;
}
.footer-container .footer-content h2 {
  font-family: ocr-b-std;
  text-transform: uppercase;
  text-align: center;
}
.footer-container .footer-content ul {
  list-style: none;
}
.footer-container .footer-content ul li {
  padding: 1rem;
}
.footer-container .footer-content ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: ocr-b-std;
  color: #cf3212;
}
.footer-container .footer-content ul li a:hover {
  color: black;
  /*ÄNDRA*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e7f3fc;
}