header {
  background-color: #91a8ba;
}

.first-page-container {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  color: #cf3212;
}
.first-page-container .first-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}
.first-page-container .first-page-content .logo-container {
  padding-top: 25%;
  padding-bottom: 4rem;
}
.first-page-container .first-page-content .background-img {
  width: 390px;
  justify-content: baseline;
  /*padding-top: 5rem;*/
}

.logo-img {
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #91a8ba;
}