.about-container {

    width: 100%;
    height: fit-content;
    border: 5px solid $text-color;
    padding: 2rem;
    border-radius: 25px;
    margin-bottom: 1rem;


    .about-content {

        display: flex;
        flex-direction: column;
        align-items: center;

        color: $text-color;

        h2 {
            font-family: kepler-std, serif;
            font-weight: 700;
            font-style: normal;
            text-align: center;
            padding-top: 1rem;

        }

        p {
            font-family: ocr-b-std;
            line-height: 1.5;
            padding-top: 2rem;

        }

        .icon {
            padding-top: 2rem;
            padding-bottom: 2rem;

        }

    }
}