.first-page-container {

    width: 100vw;
    height: 100vh;

    margin: 0%;

    color: $text-color;



    .first-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100vh;



        .logo-container {
            padding-top: 25%;

            padding-bottom: 4rem;
        }

        .background-img {
            width: 390px;
            justify-content: baseline;
            /*padding-top: 5rem;*/
        }




    }
}