.header-container {

    width: 100vw;
    height: 100vh;
    color: $text-color;



    .header-content {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;



        .logo-container {

            padding-bottom: 4rem;
        }

        h1 {
            font-family: kepler-std, serif;
            font-weight: 700;
            padding-bottom: 2rem;

        }

        a {
            text-decoration: none;
            color: $text-color;

            &:hover {
                color: black;
            }

        }

    }
}