.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100vw;

    color: $text-color;
    background-color: $primary-color;

    padding: 2rem;
    border-bottom: 5px solid $text-color;


    ul {

        width: 100vw;

        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;


        a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: ocr-b-std;
            font-size: 1em;
            color: $text-color;
            padding: 0.3rem;


            &:hover {
                color: black;
            }

        }

        @media screen and (min-width: 800px) {
            a {
                font-size: 1.5em;
                padding: 2rem;
                padding-bottom: 0%;
            }
        }
    }

}