.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    align-items: center;

    width: 100vw;

    color: $text-color;
    background-color: $primary-color;

    padding: 1.5rem;
    border-bottom: 5px solid $text-color;


    ul {

        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: ocr-b-std;
            font-size: 1.5em;
            color: $text-color;
            padding: 1rem;


            &:hover {
                color: black;
                /*ÄNDRA*/
            }

        }
    }
}