.work-container {

    height: fit-content;
    width: auto;
    padding: 2rem;
    border: 5px solid $text-color;
    color: $text-color;
    border-radius: 25px;
    margin-bottom: 1rem;




    h2 {
        font-family: kepler-std, serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding-top: 1rem;

    }

    .row {
        margin: 8px -16px;
    }

    .row,
    .row>.gallery-column {
        padding: 8px;
    }

    .gallery-column {
        float: left;
        width: 25%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .gallery-content {
        background-color: white;
        padding: 10px;
        border: 2px solid $text-color;
        box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);

        h3 {
            font-family: ocr-b-std;
            text-transform: uppercase;
            text-align: center;
            background-color: white;
        }
    }

    @media screen and (max-width: 900px) {
        .gallery-column {
            width: 50%;
        }
    }

    @media screen and (max-width: 600px) {
        .gallery-column {
            width: 100%;
        }
    }

}