.work-container {

    height: 100vh;
    width: auto;
    padding: 2rem;
    border: 5px solid $text-color;
    color: $text-color;

    border-radius: 25px;
    margin-bottom: 1rem;


    h2 {
        font-family: kepler-std, serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding-top: 1rem;

    }



}