@import "./color";

@import "./navbar";

@import "./header";

@import "./animation";

@import "./about";

@import "./work";

@import "./footer";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $primary-color;

}